{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}
    Apply Group
{% endblock %}

{% block content %}
    <div class="w3-content w3-white" style="padding:40px; max-width: 850px">
        <div class="w3-container w3-card w3-light-gray" style="padding-bottom: 20px;">
            <div class="w3-xxlarge">Group selection page</div>
        </div>
        {% if group %}
        <p>You are already assigned to: {{group}}</p>
        {% elif not_active %}
        <p>Group selection is not active.</p>
        {% else %}
        <form class="w3-content" method="post" action="{% url 'applygroup' %}">
            {% csrf_token %}
            <h1>Select the group you want to join to:</h1>
            <select name="labGroup">
                <option value="">----------</option>
                {% for group in groups %}
                <option value="{{group.id}}">{{group}}</option>
                {% endfor %}
            </select>
            <input class="psi-hover w3-card w3-button w3-light-blue w3-padding-large w3-hover-light-blue w3-hover-shadow" style="width:200px;"
                   type="submit" value="Request group" name="submitbutton">
        </form>
        {% endif %}
    </div>
{% endblock %}
