<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">

<head lang>
    <meta charset="UTF-8" />
    <title>
        {% block title %}
        {{title}}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'w3.css' %}" />
    <link rel="stylesheet" href="{% static 'psi.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
</head>

<body class="w3-blue-gray">
    <!-- Top navigation bar -->
    <div class="w3-top">
        <div class="w3-bar w3-card w3-left-align w3-large w3-blue-gray">
            <a href="{% url 'home' %}" class="psi-hover w3-bar-item w3-button w3-padding-medium w3-hover-white">Home</a>
            {% if user.is_authenticated %}
            <!-- These links are only shown when you're logged in -->
            <a href="{% url 'logout' %}"
                class="psi-hover w3-bar-item w3-button w3-padding-medium w3-hover-white">Log-Out</a>

                {% if user.is_superuser %}
                <!-- These links are only show when you are the superuser -->
                <a href="{% url 'groups' %}"
                    class="psi-hover w3-bar-item w3-button w3-padding-medium w3-hover-white">Groups</a>
                <a href="{% url 'groupchange' %}"
                    class="psi-hover w3-bar-item w3-button w3-padding-medium w3-hover-white">Group Change</a>
                {% else %}
                <a href="{% url 'convalidation' %}"
                    class="psi-hover w3-bar-item w3-button w3-padding-medium w3-hover-white">Convalidation</a>
                <a href="{% url 'applypair' %}"
                    class="psi-hover w3-bar-item w3-button w3-padding-medium w3-hover-white">Apply
                    Pair</a>
                <a href="{% url 'applygroup' %}"
                    class="psi-hover w3-bar-item w3-button w3-padding-medium w3-hover-white">Apply
                    Group</a>
                <a href="{% url 'breakpair' %}"
                    class="psi-hover w3-bar-item w3-button w3-padding-medium w3-hover-white">Break
                    Pair</a>
                {% endif %}

            {% else %}
            <!-- These links are only shown when you're NOT logged in -->
            <a href="{% url 'login' %}"
                class="psi-hover w3-bar-item w3-button w3-padding-medium w3-hover-white">Log-In</a>
            {% endif %}
        </div>
    </div>

    <!-- Content -->
    {% if msg %}
    <div id="message_poup" class="w3-modal psi-base-message">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom psi-max-width-600">
            <div class="w3-center"><br>
                <span onclick="document.getElementById('message_poup').style.display='none'"
                    class="w3-button w3-xlarge w3-hover-red w3-display-topright"
                    title="Close">&times;</span>
            </div>
            <div class="w3-center">
                {% if isError %}
                <h1 class="w3-text-red">Error</h1>
                {% else %}
                <h1 class="w3-text-gray">Message</h1>
                {% endif %}
                <p class="w3-large w3-text-black">{{msg}}</p>
            </div>
            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey w3-center">
                <button onclick="document.getElementById('message_poup').style.display='none'" type="button"
                    class="psi-hover w3-button w3-blue w3-hover-blue">OK, understood</button>

            </div>
        </div>
    </div>
    {% endif %}

    <div class="w3-container w3-center w3-light-gray psi-base-content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-center w3-blue-gray">
        <div class="w3-padding-16">
            If you have any question or trouble, please contact <a
                href="mailto:jorge.gonzalezgomez01@estudiante.uam.es">jorge.gonzalezgomez01@estudiante.uam.es</a> or <a
                href="mailto:miguel.herreramartinez@estudiante.uam.es">miguel.herreramartinez@estudiante.uam.es</a>
            <br />
            Please, try using your institutional email (i.e. name.lastname@estudiante.uam.es)
        </div>
        <!-- We thought it was fair to keep this notice, it's intentional, we didn't just copy-paste. -->
        <div class="w3-opacity"><i>Powered by <a href="https://www.w3schools.com/w3css/default.asp"
                    target="_blank">w3.css</a></i>
        </div>
    </footer>

</body>

</html>
