{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}
    Break Pair
{% endblock %}

{% block content %}

    <div class="w3-content w3-white psi-content">
        <div class="w3-container w3-card w3-light-gray psi-padding-bottom-20">
            <div class="w3-xxlarge">Pair selection page</div>
        </div>
        {% if not pairs %}
        <p>You don't have any pair.</p>
        {% else %}
        <form class="w3-content" method="post" action="{% url 'breakpair' %}">
            {% csrf_token %}
            <h1>Select the pair to be broken:</h1>
            {{pairs}}
            <input class="psi-hover w3-card w3-button w3-light-blue w3-padding-large w3-hover-light-blue w3-hover-shadow psi-width-200"
                    type="submit" value="Break pair" name="submitbutton">
        </form>
        {% endif %}
    </div>

{% endblock %}