{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="w3-card-4 w3-content w3-white psi-content">
        {% if user.is_superuser %}
        <div class="w3-container w3-card w3-dark-gray psi-padding-bottom-20">
            <div class="w3-xxlarge psi-padding-top-20">Admin Home Page</div>
        </div>
        <ul class="w3-ul">
            <li>
                <h2>Welcome to the Admin Page</h2>
                <p>From here you can manage a groups and students, although we recommend
                   the use of the dedicated Django.</p>
            </li>
            <li>
                <h2>Groups</h2>
                <p>In this page, you will be able to check a list of the laboratory groups.</p>
                <p>Clicking a group's name will give you a list of the Students who are in this
                   laboratory group.</p>
            </li>
        </ul>
        {% elif user.is_authenticated %}
        <div class="w3-container w3-card w3-light-gray psi-padding-bottom-20">
            <div class="w3-xxlarge">Summary</div>
            <div class="psi-padding-top-10">Name: <b>{{student.first_name}} {{student.last_name}}</b></div>
        </div>
        <ul class="w3-ul">
            <li>
                <h2>Theory group</h2>
                <p>Your theory group is <b>{{student.theoryGroup}}</b></p>
            </li>
            <li>
                <h2>Laboratory group</h2>
                {% if student.labGroup %}
                <p>Your laboratory group is <b>{{student.labGroup}}</b></p>
                {% else %}
                <p>You don't have a laboratory group. If you wish to assign yourself to a group, go to the Apply Group page</p>
                <a class="psi-hover w3-card w3-button w3-light-blue w3-padding-large w3-hover-light-blue w3-hover-shadow psi-button"
                   href="{% url 'applygroup' %}">Apply Group page</a>
                {% endif %}
            </li>
            <li>
                <h2>Convalidation</h2>
                <p>Your lab assignments have {% if not student.convalidationGranted %}NOT {% endif %}been convalidated.</p>
                {% if not student.convalidationGranted %}
                <p>To apply for a convalidation, your last year marks have to be as follows:</p>
                <div class="w3-container psi-container">
                    <div class="w3-card psi-card">
                        <h3>Theory</h3>
                        <p>More than 3 out of 10</p>
                    </div>
                    <div class="w3-card psi-card">
                        <h3>Labs</h3>
                        <p>More than 7 out of 10</p>
                    </div>
                </div>
                <p>(If you wish to request a convalidation press the "convalidation" button.)</p>
                <a class="psi-hover w3-card w3-button w3-light-blue w3-padding-large w3-hover-light-blue w3-hover-shadow psi-button"
                    href="{% url 'convalidation' %}">Convalidation request page</a>
                {% endif %}
            </li>
            <li>
                <h2>Pair status</h2>
                {% if pair %}
                <p>You're part of the following pair:</p> 
                <p>{{pair}}</p>
                    {% if pair.validated is False %}
                    <p><b>{{pair.student2}}</b> has NOT accepted this pair</p>
                    {% endif %}
                {% else %}
                <p>You are NOT part of any pair</p>
                <a class="psi-hover w3-card w3-button w3-light-blue w3-padding-large w3-hover-light-blue w3-hover-shadow psi-button"
                    href="{% url 'applypair' %}">Pair application page</a>
                {% endif %}
            </li>

        </ul>
        {% else %}
        <div class="w3-content w3-white psi-content">
        
            <div class="w3-container w3-card w3-light-gray psi-padding-bottom-20">
                <div class="w3-xxlarge">Welcome to the EDAT group selection page!</div>
                </div>
                <ul class="w3-ul">
                    <li>
                        <h2>Login</h2>
                        <p>To view the contents of this web, you first need to login.</p>
                        <p>Use your NIE as username and your DNI number as password. These will be your credentials, do not use your email: that won't work.</p>
                        <a class="psi-hover w3-card w3-button w3-light-blue w3-padding-large w3-hover-light-blue w3-hover-shadow psi-button"
                        href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <h2>Convalidation</h2>
                        <p>To be eligible for a convalidation and, thus, not having to do the practices again, your grades from last year must be:</p>
                        <div class="w3-container psi-container">
                            <div class="w3-card psi-card">
                                <h3>Theory</h3>
                                <p>More than 3 out of 10</p>
                            </div>
                            <div class="w3-card psi-card">
                                <h3>Labs</h3>
                                <p>More than 7 out of 10</p>
                            </div>
                        </div>
                    <li>
                        <h2>Pair selection</h2>
                        <p>In this website, you may select another student to be your partner. If he chooses to be your partner too, your pair will be validated and, thus, they will be your partner.</p>
                    </li>
                    <li>
                        <h2>Group selection</h2>
                        <p>You may also select your preferred practice group if you haven't been assigned one or you just want to switch groups for any reason.</p>
                    </li>
                </ul>
        </div>
    
        {% endif %}
    </div>
{% endblock %}
