{% extends 'core/base.html' %}
{% load staticfiles %}
  
{% block title %}
  Login
{% endblock %}
  
{% block content %}
    <div class="w3-card-4 w3-content w3-white psi-login">
      <form class="w3-container" action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="w3-section">
            <h1>Please login using your NIE and DNI before using this website.</h1>
            {{ loginForm.as_p }}
            <button class="psi-hover w3-button w3-block w3-light-blue w3-section w3-padding w3-hover-light-blue w3-hover-shadow" type="submit">Login</button>
          </div>
      </form>
    </div> 
{% endblock %}
